@tailwind base;
@tailwind components;
@tailwind utilities;

/* Анимация "парящего" логотипа */
@keyframes float {
  0% {
    transform: translate(-113%, -65%) rotate(0deg);
  }
  50% {
    transform: translate(-113%, -65%) rotate(0.5deg);
  }
  100% {
    transform: translate(-113%, -65%) rotate(0deg);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}